<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/lteLayout.html}">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<body>
    <div layout:fragment="content">
        [[${Todo}]]

        
        <h1>조회 페이지</h1>

        <div class="row">
            <div class="col-md-12">

              <div class="card card-widget">
                <div class="card-header">
                  <div class="user-block">
                    <img class="img-circle" src="../dist/img/user1-128x128.jpg" alt="회원 이미지">
                    <span class="username"><a href="#">[[${Todo.writer}]]</a></span>
                    <span class="description">[[${Todo.title}]] - [[${Todo.regDate}]]</span>
                  </div>
                </div>

                <div class="card-body">
                  <img class="img-fluid pad" src="../dist/img/picture.jpg" alt="게시글 이미지">
  
                  <p>게시글 내용 [[${Todo.contents}]]</p>

                  <div>
                    <form action="/portfolio/modify" method="get">
                      <input type="hidden" name="tno" th:value="${Todo.tno}">
                      <button type="submit">글 수정</button>
                    </form>
                  </div>

                  <!-- 좋아요 싫어요 아직 구현 못함 -->
                  <!-- <button type="button" class="btn btn-default btn-sm"><i class="fas fa-share"></i> Share</button>
                  <button type="button" class="btn btn-default btn-sm"><i class="far fa-thumbs-up"></i> Like</button>
                  <span class="float-right text-muted">127 likes - 3 comments</span> -->
                </div>
                <!-- 댓글 폼 -->
                <div class="card-footer card-comments">

                  <div class="replyUL">

                  </div>

                </div>
                <!-- 댓글 페이징 -->
                <div class="card-footer clearfix" style="display: flex; justify-content: center;">
                  <ul class="pagination pagination-sm m-0 todoUL">
                    <li class="page-item"><a class="page-link" href="10">&laquo;</a></li>
                    <li class="page-item"><a class="page-link" href="11">11</a></li>
                    <li class="page-item"><a class="page-link" href="12">12</a></li>
                    <li class="page-item"><a class="page-link" href="13">13</a></li>
                    <li class="page-item"><a class="page-link" href="21">&raquo;</a></li>
                  </ul>
                </div>
                <!-- 댓글 쓰기  -->
                <div class="card-footer">
                  <!-- <form action="#" method="post"> -->
                    <span>댓글 쓰기</span>
                    <!-- .img-push is used to add margin to elements next to floating images -->
                    <div class="img-push">
                      <input type="text" name="reply" class="form-control form-control-sm" placeholder="내용을 입력하세요." value="reply">
                      <input type="text" name="replyer" class="form-control form-control-sm" placeholder="익명 아이디를 입력하세요." value="replyer">
                    </div>
                    <!-- <div class="registReply"> -->
                      <div class="registReplyButton" style="cursor: pointer; float: right; margin: 2px; border: 2px solid black;">
                         댓글 입력하기
                      </div>
                    <!-- </div> -->
                  <!-- </form> -->
                </div>

              </div>
            </div>
        </div>

        <!-- 모달 시작 -->
        <!-- <div class="modal alertModal" tabindex="-1" role="dialog">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-body">[[${message}]]</div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div> -->
    
        <div class="modal replyModal" tabindex="-1" role="dialog">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                Reply Register
              </div>
              <div class="modal-body replyRegister">
                rno<input type="text" name="rno" value="testbno">
                gno<input type="text" name="gno" value="testgno">
                <input type="text" name="replyer" value="대댓글쓰는사람">
                <input type="text" name="reply" class="form-control">
                <div class="replyGno"></div>
              </div>
              <div class="modal-footer">
                <button class="btn btn-primary btnRegister">Reply Register</button>
                <button type="button" class="btn btn-secondary btn-close" data-bs-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div>
    
        <div class="modal replyModModal" tabindex="-1" role="dialog">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                Reply Modify
              </div>
              <div class="modal-body replyModify">
                rno<input type="text" name="rno" value="testbno">
                gno<input type="text" name="gno" value="testgno">
                <input type="text" name="replyer" value="test_chaeunwoo">
                <input type="text" name="reply" class="form-control">
                <div class="replyModifyVal"></div>
              </div>
              <div class="modal-footer">
                <button class="btn btn-primary btnReplyModify">Reply Modify</button>
                <button class="btn btn-danger btnDelete">Reply Delete</button>
                <button type="button" class="btn btn-secondary btn-close-r" data-bs-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div>
        <!-- 모달끝 -->

        <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
        <script src="/js/pageUtil.js"></script>

    </div>
    
    <script layout:fragment="script" th:inline="javascript">


      // 모달 관련
      // const alertModal = new bootstrap.Modal(document.querySelector(".alertModal"))
      // 대댓글모달
      const replyModal = new bootstrap.Modal(document.querySelector(".replyModal"))
      const replyRegister = document.querySelector(".replyRegister")
      const btnRegister = document.querySelector(".btnRegister")
      // 수정모달
      const replyModModal = new bootstrap.Modal(document.querySelector(".replyModModal"))
      const replyModify = document.querySelector(".replyModify")
      const btnReplyModify = document.querySelector(".btnReplyModify")
      const btnDelete = document.querySelector(".btnDelete")

      const replyUL = document.querySelector(".replyUL")
      // const replyBtn = document.querySelector(".replyBtn");
      
      replyUL.addEventListener("click" , (e) => {
        e.preventDefault()
        e.stopPropagation()

        const target = e.target

        //버튼클릭이 아닐경우 리턴
        if(target.getAttribute("data-gno") === null) return;

        //대댓쓰기인지 체크
        const rereply = target.getAttribute("data-rereply");

        const rno = target.getAttribute("data-rno");
        const gno = target.getAttribute("data-gno");
        const reply = target.getAttribute("data-reply");
        const replyer = target.getAttribute("data-replyer");

        console.log(rno);
        console.log(gno);
        console.log(reply);
        console.log(replyer);

        if(rereply){
          replyRegister.querySelector("input[name='gno']").value = gno;
          replyRegister.querySelector("input[name='rno']").value = rno;
          replyRegister.querySelector("input[name='replyer']").value = replyer;
          replyRegister.querySelector("input[name='reply']").value = reply;
          replyModal.show();
        }else{
          replyModify.querySelector("input[name='gno']").value = gno;
          replyModify.querySelector("input[name='rno']").value = rno;
          replyModify.querySelector("input[name='replyer']").value = replyer;
          replyModify.querySelector("input[name='reply']").value = reply;
          replyModModal.show();
        }
       

      })
      //현재페이지 가지고있기
      let pageNum = 1;

      // 대댓글 입력
      btnRegister.addEventListener("click" ,  e => {

        e.preventDefault()
        e.stopPropagation()

        //대댓글 입력 엑시오스
        const object = {
          
          "reply"   : replyRegister.querySelector("input[name='reply']").value,
          "replyer" : replyRegister.querySelector("input[name='replyer']").value,
          "tno"     : tno,
          "gno"     : replyRegister.querySelector("input[name='gno']").value,
          "rno"     : replyRegister.querySelector("input[name='rno']").value,
          
        } 
        addReply2(object).then(data => {

          loadReplyData(false , pageNum)

        }).catch(e => {

          alert("등록 실패")

        })


        replyModal.hide();

      });

      //대댓글 입력하기
      const addReply2 = async (object) => {
      
        console.log(object)
        const res = await axios.post(`http://localhost:8080/api/replies` , object)

        return res.data

      }



      // 댓글 수정하기
      btnReplyModify.addEventListener("click" , e => {

        e.preventDefault()
        e.stopPropagation()

        const object = {
          
          "reply"   : replyModify.querySelector("input[name='reply']").value,
          "replyer" : replyModify.querySelector("input[name='replyer']").value,
          "gno"     : replyModify.querySelector("input[name='gno']").value,
          "rno"     : replyModify.querySelector("input[name='rno']").value,
          
        } 

        updateReply(object).then(data => {

          console.log(data)
          loadReplyData(false , pageNum)

        }).catch(e => {

          alert("댓글 수정 실패")

        })

      })

      const updateReply = async(object) => {

          const res = await axios.put("http://localhost:8080/api/replies" , object) 
          return res.data

      }


      //댓글 삭제 하기
      btnDelete.addEventListener("click" , e => {

          e.preventDefault()
          e.stopPropagation()

          deleteReply(replyModify.querySelector("input[name='rno']").value).then(data => {

            console.log(data)
            loadReplyData(false , pageNum)

          }).catch(e => {

            alert("댓글 삭제 실패")

          })
      })

      const deleteReply = async(rno) => {

         const res = await axios.delete(`http://localhost:8080/api/replies/${rno}`) 
         return res.data

      }


      //모달 숨기기
      document.querySelector(".btn-close").addEventListener("click" , (e) => {
        
        replyModal.hide()
        
      })
      //모달 숨기기
      document.querySelector(".btn-close-r").addEventListener("click" , (e) => {

        replyModModal.hide()

      })

      //모달 관련 끝-----------------------------------------------------

      // alert([[${Todo.tno}]])
      // 페이징 처리
      const todoUL = document.querySelector(".todoUL")

      todoUL.addEventListener("click", (e) => {

        e.preventDefault()
        e.stopPropagation()

        const target = e.target
        pageNum = target.getAttribute("href")

        // alert(pageNum)

        loadReplyData(false , pageNum)

      }, false)
      // 페이징 처리 끝

      //페이징 유틸로 빼둠
      // const pageLIStr = makePages(page,size, total)
      // todoUL.innerHTML = pageLIStr

      
      // const tno = [[${Todo.tno}]]
      const {tno , writer} = [[${Todo}]]

      //댓글 목록 가지고오기
      const getRemoteList = async (replyLast = false, page = 1) => {
          
        const res = await axios.get(`http://localhost:8080/api/replies/${tno}/list?page=${page}&replyLast=${replyLast}`)

        console.log(res)

        return res.data

      } 

      function loadReplyData (replyLast, pageNum) {

          getRemoteList(replyLast , pageNum).then(arr => {
          console.log("then result---------------")

          console.log(arr)

          //페이징 3가지
          const total = arr.total;
          const page = replyLast !== true ? pageNum : arr.page;
          const size = 10;

          const pageLIStr = makePages(page, size, total)
          todoUL.innerHTML = pageLIStr
          
          let str = ""
          
          if(!arr){
              return
          }
          
          for(let i = 0; i < arr.list.length; i++){

              const {rno,tno,reply,replyer,step,replydate,gno} = arr.list[i]

              str += step === 0 ?
              
              `
              <div class="card-comment" >
                <span class="username">
                  ${replyer}
                  <span class="text-muted float-right">${replydate}</span>
                </span>
                ${reply}
                <span class="text-muted float-right">
                  <div class="replyBtn" data-rno= ${rno} data-gno= ${gno} data-reply= ${reply} data-replyer= ${replyer} data-rereply="true">댓글달기</div>
                  <div class="replyBtn" data-rno= ${rno} data-gno= ${gno} data-reply= ${reply} data-replyer= ${replyer}>댓글수정</div>
                </span>
              </div>`
              :
              `
              <div style="display: flex;">
                <div>
                  <span>L</span>
                </div>
                
                <div class="card-comment"style="width:100%">
                  <div class="" style="margin-left: 20px;">
                    <span class="username">
                      ${replyer}
                      <span class="text-muted float-right">${replydate}</span>
                    </span>
                    ${reply}
                    <span class="text-muted float-right">
                      <div class="replyBtn" data-rno= ${rno} data-gno= ${gno} data-reply= ${reply} data-replyer= ${replyer} data-rereply="true">댓글달기</div>
                      <div class="replyBtn" data-rno="${rno}" data-gno= ${gno} data-reply="${reply}" data-replyer="${replyer}">수정</div>
                    </span>
                  </div>  
                </div>

              </div>
              `
          }

          replyUL.innerHTML = str

    
          }).catch(e => {

            alert("목록을 가지고오지 못함")
            
          })
          
      }
      loadReplyData(false , 1)

      //댓글 입력하기
      const registReplyButton = document.querySelector(".registReplyButton");
      const addReply = async (replyValue , replyerValue) => {
      
        const dto = {
          
          "reply"   : replyValue,
          "replyer" : replyerValue,
          "tno"     : tno,
          
        } 

        console.log(dto)
        const res = await axios.post(`http://localhost:8080/api/replies` , dto)

        return res.data

      }

      registReplyButton.addEventListener("click" , (e) => {

        e.preventDefault()
        e.stopPropagation()

        const reply = document.querySelector("input[name='reply']").value;
        const replyer = document.querySelector("input[name='replyer']").value;

        addReply(reply , replyer).then(data => {

          //댓글입력시 맨뒤페이지로 가도록
          loadReplyData(true , 2)

        }).catch( e => {

          alert("입력실패")

        })

      })

    </script>

</body>
</html>